<footer class="">
    <div class="relative w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
<span class="text-sm text-gray-800 sm:text-center dark:text-gray-900">
  © 2025 <a href="https://flowbite.com/" class="hover:underline text-gray-600 dark:text-gray-600">Dko dev™ All Rights Reserved.</a>.
</span>
<ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-800 dark:text-gray-200 sm:mt-0">
  <li>
    <a href="https://github.com/tysonJb" class="hover:underline me-4 md:me-6 text-white dark:text-gray-600">GitHub</a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/jorge-barrantes-997149359/" class="hover:underline me-4 md:me-6 text-white dark:text-gray-600">LinkedIn</a>
  </li>
  <li>
    <a href="#" class="hover:underline me-4 md:me-6 text-white dark:text-gray-600">About me</a>
  </li>

  
</ul>
    </div>
</footer>

