
<header class="fixed top-0 z-10 flex items-center justify-center w-full xl-w[1120px] mx-auto mt-8">


     <nav class="flex sm:flex-row px-3 sm:gap-x-4 text-sm font-medium rounded-full  text-gray-600 justify-center items-center bg-white/5 backdrop-blur-md shadow-md">
    
        <a class="relative block px-2 py-2 transition hover:text-blue-500" href="#top">Inicio</a>
        <a class="relative block px-2 py-2 transition hover:text-blue-500" href="#sobre-mi">Sobre mi</a> 
        <a class="relative block px-2 py-2 transition hover:text-blue-500" href="#habilidades">Habilidades</a>   
        <a class="relative block px-2 py-2 transition hover:text-blue-500" href="#proyectos">Proyectos</a>
 
 
    </nav>
    
</header>
